@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.map-container {
  height: 95vh;
  width: 100%;
  border-radius: 10px;
}

.map-container-for-home {
  height: 85vh;
  width: 100%;
}

#loginPassword,
#loginEmail {
  outline: none;
  box-shadow: none;
}

/* Flip */
.flip {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  padding: 1em;

  transform-style: preserve-3d;
  transition: 1s ease;
}

.flip:hover {
  transform: rotateY(-180deg);
}
/* Content */
.flip .content {
  transform-style: preserve-3d;
}

.flip .back,
.flip .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip h2,
.flip p {
  transform: translateZ(90px);
}

.flip h2 {
  font-size: 3em;
  letter-spacing: 1px;
}

.flip::before,
.flip::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(#a4907c, #c8b6a6);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg) translateZ(1px);
}

.flip::before {
  transform: none;
  background-image: linear-gradient(#f1dec9, #8d7b68);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* USer cardsssss */
